<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{jobsVIEW/layout-static}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/courses/coursesView.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="course-header">
        <h2>職缺管理功能</h2>
    <!-- 添加"新增"按鈕 -->
        <a th:href="@{/jobs/add}" class="btn btn-sm btn-success ms-1">
            <i class="fas fa-plus"></i> 新增職缺
        </a>
    </div>


    <div class="table-container" id="search-results">

        <table id="jobsList" class="display table table-striped table-hover nowrap">
            <thead>
            <tr>
                <th>編號</th>
                <th>會員ID</th>
                <th>標題</th>
                <th>刊登日期</th>
                <th>截止日期</th>
                <th>狀態</th>
                <th>職缺數量</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <th:block th:each="job : ${jobsList}">
                <tr>
                    <td th:text="${job.jobsId}"></td>
                    <td th:text="${job.users.userName}"></td>
                    <td th:text="${job.jobsTitle}"></td>
                    <td th:text="${job.jobsPostingDate}"></td>
                    <td th:text="${job.jobsApplicationDeadline}"></td>
                    <td th:text="${job.jobsStatus}"></td>
                    <td th:text="${job.jobsNumberOfOpenings}"></td>
                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
    $(document).ready(function (){
        const baseUrl = /*[[@{/jobs}]]*/'';
        console.log(baseUrl);
        $("#jobsList").DataTable({//
            order: [0, 'asc'],
           columns:[{
               data: 'jobsId',
               className: 'all'
           },{
               data: 'userName',
               className: 'all'
           },{
               data: 'jobsTitle',
               className: 'all'
           },{
               data: 'jobsPostingDate',
               className: 'all'
           },{
               data: 'jobsApplicationDeadline',
               className: 'all'
           },{
               data: 'jobsStatus',
               className: 'all',
               render: function (data, type, row) {
                   let result = '';
                   switch (data) {
                       case '0':
                           result = '刊登中';
                           break;
                       case '1':
                           result = '已下架';
                           break;
                       case '2':
                           result = '不明';
                           break;
                   }
                   return result;
               }
           },{
               data: 'jobsNumberOfOpenings',
               className: 'all'
           },{
               data: 'actions',
               defaultContent: '',
               orderable: false,
               searchable: false,
               render : function (data, type, row) {
                    let result = '';

                    //這裡的class就是bootstrap,就幾乎不用style
                   //查看
                    result += '<a class="btn btn-sm btn-primary" href="'+ baseUrl + '/view/' + row.jobsId +'"><i class="fas fa-search"></i>'

                   //編輯
                    result += '<a class="btn btn-sm btn-success ms-1" href="'+ baseUrl + '/edit/' + row.jobsId +'"><i class="fas fa-pen"></i>\''

                   //刪除
                    result += '<a class="btn btn-sm btn-danger ms-1 deleteBtn" href="'+ baseUrl + '/delete/' + row.jobsId +'"><i class="fas fa-trash"></i>\''

                   bindDeleteEvent();
                   return result;
               }
           }]
       });

        function bindDeleteEvent() {

            $('.deleteBtn').click(function (e){
                e.preventDefault();
                let url = $(this).attr('href');
                Swal.fire({
                    icon: "question",
                    title: "確認刪除？",
                    showCancelButton: true,
                    confirmButtonText: "確認",
                }).then((result) => {
                    if (result.isConfirmed) {

                        //fetch開始是ajax
                        fetch(url, {
                            method: 'DELETE'
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                } else {
                                    Swal.fire({//Swal.fire呼叫api的寫法
                                        icon: "success",
                                        title: "刪除成功",
                                        showConfirmButton: true,
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                }
                            })
                            .catch(error => {
                                console.error('There was a problem with the fetch operation:', error);
                            });
                    }
                });
            })


        }

        bindDeleteEvent();
    });
</script>
</body>
</html>