<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{jobsVIEW/layout-static}">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>編輯職缺申請項目資訊 - ProFit</title>-->
<!--</head>-->

<!--<body>-->
<!--<div layout:fragment="content"> &lt;!&ndash; Thymeleaf layout 標籤，用於插入內容到 model 模板中 &ndash;&gt;-->

<!--    <h1 class="mt-4">新增/編輯職缺申請項目資訊</h1>-->
<!--    <ol class="breadcrumb mb-4">-->
<!--        <li class="breadcrumb-item"><a th:href="@{/jobsApplication/list}">職缺申請項目管理</a></li>-->
<!--        <li class="breadcrumb-item active">相關資訊</li>-->
<!--    </ol>-->
<!--    <div class="card mb-4">-->
<!--        <div class="card-body">-->

<!--            &lt;!&ndash; 職缺新增/編輯表單 &ndash;&gt;-->
<!--            <form id="jobsApplicationForm"-->
<!--                  th:action="${jobApplication.jobsApplicationId != null} ? @{/jobsApplication/update/{id}(id=${jobApplication.jobsApplicationId})} : @{/jobsApplication/add}"-->
<!--                  method="post">-->

<!--                &lt;!&ndash; 隱藏欄位：僅編輯時顯示 &ndash;&gt;-->
<!--                <input type="hidden" th:if="${jobApplication.jobsApplicationId != null}" th:field="${jobApplication.jobsApplicationId}"/>-->

<!--                &lt;!&ndash; 隱藏欄位：當編輯時，使用 PUT  &ndash;&gt;-->
<!--                <input type="hidden" th:if="${jobApplication.jobsApplicationId != null}" name="_method" value="put"/>-->




<!--                &lt;!&ndash; 刊登者 ID（通常不允許編輯） &ndash;&gt;-->
<!--                <div class="mb-3">-->
<!--                    <label class="form-label">刊登者 ID</label>-->
<!--                    <input th:if="${jobApplication.jobsApplicationId != null}" type="text" class="form-control"-->
<!--                           th:field="${jobApplication.poster.users}"/>-->
<!--                    <input th:if="${jobApplication.jobsApplicationId == null}" type="text" class="form-control" name="userId"-->
<!--                           placeholder="例如：100"/>-->

<!--                </div>-->

<!--                &lt;!&ndash; 應徵者 ID（通常不允許編輯） &ndash;&gt;-->
<!--                <div class="mb-3">-->
<!--                    <label class="form-label">應徵者 ID</label>-->
<!--                    <input th:if="${jobApplication.jobsApplicationId != null}" type="text" class="form-control"-->
<!--                           th:field="${jobApplication.applicant.userId}"/>-->
<!--                    <input th:if="${jobApplication.jobsApplicationId == null}" type="text" class="form-control" name="userId"-->
<!--                           placeholder="例如：100"/>-->

<!--                </div>-->



<!--                &lt;!&ndash; 發布日期（通常不允許編輯） &ndash;&gt;-->
<!--                <div class="mb-3">-->
<!--                    <label class="form-label">發布日期</label>-->
<!--                    <input type="date" class="form-control" name="ApplicationDate" th:value="${jobApplication.jobsApplicationDate}" readonly />-->
<!--                </div>-->



<!--                &lt;!&ndash; 職缺狀態 &ndash;&gt;-->
<!--                <div class="mb-3">-->
<!--                    <label class="form-label">職缺狀態</label>-->
<!--                    <select class="form-control" th:field="${jobApplication.jobsApplicationStatus}" required>-->
<!--                        <option value="0" th:selected="${jobApplication.jobsApplicationStatus == 0}">開放中</option>-->
<!--                        <option value="1" th:selected="${jobApplication.jobsApplicationStatus == 1}">已關閉</option>-->
<!--                    </select>-->
<!--                </div>-->





<!--                &lt;!&ndash; 提交和取消按鈕 &ndash;&gt;-->
<!--                <button type="submit" class="btn btn-primary">保存</button>-->
<!--                <a th:href="@{/jobsApplication/list}" class="btn btn-secondary">取消</a>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--    <script th:inline="javascript" layout:fragment="script" type="text/javascript">-->
<!--        $(document).ready(function () {-->
<!--        $('#saveBtn').click(function (e) {-->
<!--            e.preventDefault();-->
<!--            let timerInterval;-->
<!--            Swal.fire({-->
<!--                icon: "success",-->
<!--                title: "保存成功",-->
<!--                html: "即將在 <b></b> 豪秒後跳轉頁面...",-->
<!--                timer: 3000,-->
<!--                timerProgressBar: true,-->
<!--                didOpen: () => {-->
<!--                    Swal.showLoading();-->
<!--                    const timer = Swal.getPopup().querySelector("b");-->
<!--                    timerInterval = setInterval(() => {-->
<!--                        timer.textContent = `${Swal.getTimerLeft()}`;-->
<!--                    }, 100);-->
<!--                },-->
<!--                willClose: () => {-->
<!--                    clearInterval(timerInterval);-->
<!--                }-->
<!--            }).then((result) => {-->
<!--                if (result.dismiss === Swal.DismissReason.timer) {-->
<!--                    $('#jobsApplicationForm').submit()-->
<!--                }-->
<!--            })-->
<!--        })-->
<!--    })-->




<!--</script>-->

<!--</body>-->
<!--</html>-->