<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{jobsVIEW/layout-static}">
<head>
    <meta charset="UTF-8">
    <title>編輯職缺資訊 - ProFit</title>
</head>

<body>
<div layout:fragment="content"> <!-- Thymeleaf layout 標籤，用於插入內容到 model 模板中 -->
    <h1 class="mt-4">編輯職缺申請資訊</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/jobsApplication/list}">職缺申請管理</a></li>
        <li class="breadcrumb-item active">編輯職缺申請資訊</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <!-- 職缺申請編輯表單 -->
            <form id="jobApplicationForm" th:action="@{/jobsApplication/update/{id}(id=${jobApplication.jobsApplicationId})}" method="post">

                <input type="hidden" th:field="${jobApplication.jobsApplicationId}"/>
                <input type="hidden" name="_method" value="put"/>



                <!-- 刊登者（通常不允許編輯） -->
                <div class="mb-3">
                    <label class="form-label">刊登者</label>
                    <input type="text" class="form-control" th:value="${jobApplication.jobs.users.userName}" readonly />
                </div>

                <!-- 應徵者（通常不允許編輯） -->
                <div class="mb-3">
                    <label class="form-label">應徵者</label>
                    <input type="text" class="form-control" th:value="${jobApplication.applicant.userName}" readonly />
                </div>



                <!--  以上th:field 就是包含id=""、name=""、value=""等3個集合體-->




                <!-- 申請日期 -->
                <div class="mb-3">
                    <label class="form-label">申請日期</label>
                    <input type="date" class="form-control" th:value="${jobApplication.jobsApplicationDate}" readonly />
                </div>


                <!-- 職缺狀態 -->
                <div class="mb-3">
                    <label class="form-label">職缺申請狀態</label>
                    <select class="form-control" name="status" th:value="${jobApplication.jobsApplicationStatus}" required>
                        <option value="0" th:selected="${jobApplication.jobsApplicationStatus == 0}">刊登中</option>
                        <option value="1" th:selected="${jobApplication.jobsApplicationStatus == 1}">已投遞受理</option>
                        <option value="1" th:selected="${jobApplication.jobsApplicationStatus == 2}">尚未審核</option>
                    </select>
                </div>



                <!-- 提交和取消按鈕 -->
                <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
                <a th:href="@{/jobsApplication/list}" class="btn btn-secondary">取消</a>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">

    $(document).ready(function () {
        $('#saveBtn').click(function (e) {
            e.preventDefault();
            let timerInterval;
            Swal.fire({
                icon: "success",
                title: "保存成功",
                html: "即將在 <b></b> 豪秒後跳轉頁面...",
                timer: 3000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("b");
                    timerInterval = setInterval(() => {
                        timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                    $('#jobApplicationForm').submit()
                }
            })
        })

    })
</script>

</body>
</html>