<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>ProFit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Cool+Goggles"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>User Register</title>
</head>

<body>
	<!-- Registration 6 - Bootstrap Brain Component -->
	<section class="bg-info p-3 p-md-4 p-xl-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
					<div class="card border-0 shadow-sm rounded-4">
						<div class="card-body p-3 p-md-4 p-xl-5">
							<div class="row">
								<div class="col-12">
									<div class="mb-5">
										<h2 class="h3">註冊</h2>
										<h3 class="fs-6 fw-normal text-secondary m-0">輸入註冊資料</h3>
									</div>
								</div>
							</div>
							<form action="#!">
								<div class="row gy-3 overflow-hidden">
									<div class="col-12">
										<div class="form-floating mb-3">
											<label for="firstName" class="form-label">會員名稱</label> <input
												type="text" class="form-control" name="firstName"
												id="firstName" placeholder="名稱(請盡量使用真名)" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating mb-3">
											<label for="email" class="form-label">電子信箱</label> <input
												type="email" class="form-control" name="email" id="email"
												placeholder="name@example.com"
												pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating mb-3">
											<label for="password" class="form-label">密碼</label> <input
												type="password" class="form-control" name="password"
												id="password" value="" placeholder="輸入密碼" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating mb-3">
											<label for="ConfirmPassword" class="form-label">確認密碼</label>
											<input type="password" class="form-control" name="password"
												id="ConfirmPassword" value="" placeholder="確認密碼" required
												oninput="setCustomValidity('');"
												onchange="if(document.getElementById('user_password').value != document.getElementById('ConfirmPassword').value){setCustomValidity('密碼不吻合');}" />
										</div>
									</div>
									<div class="col-12">
										<div class="form-floating mb-3">
											<label class="form-label" for="user_phonenumber">會員手機號碼:</label>
											<input class="form-control" type="text"
												placeholder="輸入會員手機號碼(格式:09XX-000000)" id="user_phonenumber"
												name="user_phonenumber" required maxlength="11"
												pattern="09\d{2}-\d{6}">

										</div>
									</div>
									<div class="col-12">
										<div class="form-floating mb-3">
											<label class="form-label" for="user_city">會員居住城市:</label> <select
												name="user_city" class="form-select">
												<option>臺北市</option>
												<option>新北市</option>
												<option>基隆市</option>
												<option id="taoyuan">桃園市</option>
												<option>新竹縣</option>
												<option>新竹市</option>
												<option>宜蘭縣</option>
												<option>臺中市</option>
												<option>苗栗縣</option>
												<option>彰化縣</option>
												<option>南投縣</option>
												<option>雲林縣</option>
												<option>高雄市</option>
												<option>臺南市</option>
												<option>嘉義市</option>
												<option>嘉義縣</option>
												<option>屏東縣</option>
												<option>澎湖縣</option>
												<option>花蓮縣</option>
												<option>臺東縣</option>
											</select>
										</div>
									</div>
									<div class="col-12">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												name="iAgree" id="iAgree" required> <label
												class="form-check-label text-secondary" for="iAgree">
												我同意 <a href="#!" class="link-primary text-decoration-none">隱私權政策</a>
											</label>
										</div>
									</div>
									<div class="col-12">
										<div class="d-grid">
											<button class="btn bsb-btn-2xl btn-primary mt-3"
												type="submit">註冊</button>
										</div>
									</div>
								</div>
							</form>
							<div class="row">
								<div class="col-12">
									<hr class="mt-5 mb-4 border-secondary-subtle">
									<p class="m-0 text-secondary text-center">
										已擁有帳戶? <a href="#!" class="link-primary text-decoration-none">登入</a>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<p class="mt-5 mb-4 text-center">或者</p>
									<div class="d-flex gap-3 flex-column">
										<a href="#!" class="btn bsb-btn-xl btn-danger"> <svg
												xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
												<path
													d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
											</svg> <span class="ms-2 fs-6 text-uppercase">使用Google帳戶繼續</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/users/Register.js}"></script>
</body>

</html>