<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>ProFit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Cool+Goggles"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Register Successful</title>
</head>

<body>
		<div class="text-center mt-5">
			<h2>會員註冊</h2>
			<h4>您已成功完成註冊</h4>
			<p>請至您的電子信箱點擊驗證連結，以完成註冊流程。</p>
			<p><a href="">登入</a></p>
		</div>
 
</body>

</html>