<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ProFit</title>
	<link rel="stylesheet" th:href="@{/css/users/userVIEW.css}" />
</head>

<body>

	<div th:replace="~{model/layout-static}"></div>
	<div class="container pt-5">
		<div class="dashboard-header">
			<h2>會員管理</h2>
		</div>
		<div>
			<h2 style="color: orange;">更新會員資訊</h2>
			<form class="form-container" id='updateUser-info'>
				<input type="hidden" name="userPictureURL" id="user_pictureURL" value="">
				<label class="form-label" for="">會員頭貼:</label>
				<div class="profile-picture">
					<img id="profileImagePreview" src="" alt="Profile Image" class="w-25 h-25" />
				</div>

				<div>
					<input class="form-control file-uploader" type="file" id="fileInput" accept="image/*" name="imgfile" />
				</div>
				<label class="form-label" for="user_id">會員ID:</label>
				<input class="form-input" type="text" id="user_id" name="userId" readonly>

				<label class="form-label" for="user_name">會員姓名:</label>
				<input class="form-input" type="text" id="user_name" name="userName" required>

				<label class="form-label" for="user_email">會員信箱:</label>
				<input class="form-input" type="email" id="user_email" name="userEmail" required>
				<label class="form-label" for="user_password">
					會員密碼: </label> <input class="form-input" type="password" placeholder="修改會員密碼" id="user_password"
					name="userPasswordHash" value="${user.userPasswordHash}" readonly>
				<button class="btn btn-warning insertbtn" type="button" style="margin-top: 20px; margin-bottom: 20px"
					onclick="togglePopup()">修改密碼</button>
				<label class="form-label" for="user_phonenumber">會員手機號碼:</label>
				<input class="form-input" type="text" placeholder="修改會員手機號碼" id="user_phonenumber"
					name="userPhoneNumber" required>

				<label class="form-label" for="user_city">會員居住城市:</label>
				<select class="city-option" name="userCity">
					<option value="臺北市">臺北市</option>
					<option value="新北市">新北市</option>
					<option value="基隆市">基隆市</option>
					<option value="桃園市">桃園市</option>
					<option value="桃園市">桃園市</option>
					<option value="新竹縣">新竹縣</option>
					<option value="新竹市">新竹市</option>
					<option value="宜蘭縣">宜蘭縣</option>
					<option value="臺中市">臺中市</option>
					<option value="苗栗縣">苗栗縣</option>
					<option value="彰化縣">彰化縣</option>
					<option value="南投縣">南投縣</option>
					<option value="雲林縣">雲林縣</option>
					<option value="高雄市">高雄市</option>
					<option value="臺南市">臺南市</option>
					<option value="嘉義市">嘉義市</option>
					<option value="嘉義縣">嘉義縣</option>
					<option value="屏東縣">屏東縣</option>
					<option value="澎湖縣">澎湖縣</option>
					<option value="花蓮縣">花蓮縣</option>
					<option value="臺東縣">臺東縣</option>
				</select>

				<label class="form-label" for="user_identity">會員身份:</label>
				<div class="input-radio">
					<input type="radio" id="identityChoice1" name="userIdentity" value="1" />
					<label for="identityChoice1">應徵者</label>
					<input type="radio" id="identityChoice2" name="userIdentity" value="2" />
					<label for="identityChoice2">應徵者＋企業主</label>
					<input type="radio" id="identityChoice3" name="userIdentity" value="3" />
					<label for="identityChoice3">管理員</label>
				</div>

				<label class="form-label" for="user_balance">會員餘額:</label>
				<input class="form-input" type="number" placeholder="修改會員餘額" id="user_balance" name="userBalance"
					required>

				<label class="form-label" for="freelancer_location_prefer">會員工作地點偏好:</label>
				<select class="city-prefer-option" name="freelancerLocationPrefer" style="margin-bottom: 20px">
					<!-- 城市選項 -->
					<option value="臺北市">臺北市</option>
					<option value="新北市">新北市</option>
					<option value="基隆市">基隆市</option>
					<option value="桃園市">桃園市</option>
					<option value="新竹縣">新竹縣</option>
					<option value="新竹市">新竹市</option>
					<option value="宜蘭縣">宜蘭縣</option>
					<option value="臺中市">臺中市</option>
					<option value="苗栗縣">苗栗縣</option>
					<option value="彰化縣">彰化縣</option>
					<option value="南投縣">南投縣</option>
					<option value="雲林縣">雲林縣</option>
					<option value="高雄市">高雄市</option>
					<option value="臺南市">臺南市</option>
					<option value="嘉義市">嘉義市</option>
					<option value="嘉義縣">嘉義縣</option>
					<option value="屏東縣">屏東縣</option>
					<option value="澎湖縣">澎湖縣</option>
					<option value="花蓮縣">花蓮縣</option>
					<option value="臺東縣">臺東縣</option>
				</select>

				<label class="form-label" for="freelancer_exprience">會員工作經驗:</label>
				<select class="exprience-option" name="freelancerExprience" style="margin-bottom: 20px">
					<!-- 經驗選項 -->
					<option value="無工作經驗">無工作經驗</option>
					<option value="0-1年工作經驗">0-1年工作經驗</option>
					<option value="1-2年工作經驗">1-2年工作經驗</option>
					<option value="2-3年工作經驗">2-3年工作經驗</option>
					<option value="3-4年工作經驗">3-4年工作經驗</option>
					<option value="4-5年工作經驗">4-5年工作經驗</option>
					<option value="5-6年工作經驗">5-6年工作經驗</option>
					<option value="7-8年工作經驗">7-8年工作經驗</option>
					<option value="8-9年工作經驗">8-9年工作經驗</option>
					<option value="9-10年工作經驗">9-10年工作經驗</option>
					<option value="10年以上年工作經驗">10年以上年工作經驗</option>
				</select>

				<label class="form-label" for="freelancer_identity">會員接案身份:</label>
				<div class="input-radio">
					<input type="radio" id="identityChoice4" name="freelancerIdentity" value="個人兼職" required />
					<label for="identityChoice1">個人兼職</label>
					<input type="radio" id="identityChoice5" name="freelancerIdentity" value="工作室" required />
					<label for="identityChoice2">工作室</label>
					<input type="radio" id="identityChoice6" name="freelancerIdentity" value="學生" required />
					<label for="identityChoice3">學生</label>
				</div>

				<label class="form-label" for="freelancer_profile_status">會員接案狀態:</label>
				<div class="input-radio">
					<input type="radio" id="statusChoice1" name="freelancerProfileStatus" value="0" required />
					<label for="statusChoice1">關閉</label>
					<input type="radio" id="statusChoice2" name="freelancerProfileStatus" value="1" required/>
					<label for="statusChoice2">開啓</label>
				</div>

				<label class="form-label" for="freelancer_disc">會員接案描述:</label>
				<textarea rows="10" cols="50" id="freelancer_disc" name="freelancerDisc"></textarea>

				<label class="form-label" for="user_register_time">會員註冊時間:</label>
				<input class="form-input" type="text" id="user_register_time" name="userRegisterTime" readonly>

				<input type="submit" value="確定" class="btn-submit" id="submitBtn" />

			</form>
			<div id="popupOverlay" class="overlay-container" style="z-index: 1002">
				<div class="popup-box-updatepwd">
					<h2 style="color: orange;">修改密碼</h2>
					<form class="form-group" style="height: 200px; margin: 0;" id="updatePwdForm">
						<label class="form-label" for="updatepwd"> 會員密碼: </label>
						<input class="form-input-insert" type="password" placeholder="輸入會員密碼" id="updatepwd"
							name="user_password" required>
						<label class="form-label" for="ConfirmPassword"> 確認密碼: </label>
						<input id="ConfirmPassword" class="form-input-insert" type="password" placeholder="確認會員密碼"
							required="required" oninput="setCustomValidity('');"
							onchange="if(document.getElementById('updatepwd').value != document.getElementById('ConfirmPassword').value){setCustomValidity('密碼不吻合');}" />
						<input type="submit" value="確定" class="btn-submit" style="margin-top: 20px" />
						<button class="btn-close-popup" onclick="togglePopup()">
							關閉</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="OkModal" tabindex="-1" aria-labelledby="OkModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content Ok">
				<div class="modal-header">
					<p>更新成功</p>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center">
					<i class="fa-regular fa-circle-check fa-7x" style="color: #00a876;"></i>
				</div>
			</div>
		</div>
	</div>
	<script src="https://www.gstatic.com/firebasejs/9.21.0/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/9.21.0/firebase-storage-compat.js"></script>
	<script th:src="@{/js/users/updateuserView.js}"></script>
	<script src="https://kit.fontawesome.com/4caf09a569.js" crossorigin="anonymous"></script>
</body>

</html>