<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>課程儀表板</title>
    <link rel="stylesheet" th:href="@{/css/courses/coursesView.css}">
    <link rel="stylesheet" th:href="@{/css/model.css}">
</head>

<body>
    <div th:replace="~{model/layout-static}"></div>
    <div class="container-fluid pt-5">
        <div class="row">
            <!-- 第一個圖表及標題 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-3">課程分類圖表</h2>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- 第二個圖表及標題 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-3">課程購買分析</h2>
                        <canvas id="orderAnalysis"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Top 10 課程</h1>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>課程名稱</th>
                    <th>已完成的訂單數量</th>
                </tr>
            </thead>
            <tbody id="coursesTableBody">
                <!-- 這裡會填充數據 -->
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/courses/courseDashBoard.js}"></script>
</body>

</html>