<div class="col-lg-4 col-12">
	<div class="dashbord-sidebar">
		<ul>
			<li class="heading">帳戶中心</li>
			<li><a href="http://localhost:8080/ProFit/user/profile"><i class="lni lni-clipboard"></i>個人資料</a>
			</li>
			<li><a href="http://localhost:8080/ProFit/emp/CompProfile"><i class="lni lni-bookmark"></i>店家/公司資料</a></li>

			<li><a href="http://localhost:8080/ProFit/user/customerService"><i class="lni lni-envelope"></i>問題申訴與回報</a></li>

			<li><a href="#" id="courseCenter"><i class="lni lni-book"></i>課程中心</a></li>
			<!-- <li><a href="notifications.html"><i class="lni lni-alarm"></i> Notifications <span

												class="notifi">5</span></a></li>
									<li><a href="manage-applications.html"><i class="lni lni-envelope"></i> Manage
											Applications</a></li>
									<li><a href="manage-resumes.html"><i class="lni lni-files"></i> Manage Resumes</a></li>
									<li><a href="job-alerts.html"><i class="lni lni-briefcase"></i> Job Alerts</a></li>
									<li><a href="change-password.html"><i class="lni lni-lock"></i> Change Password</a></li>
									<li><a href="index.html"><i class="lni lni-upload"></i> Sign Out</a></li>-->
		</ul>
	</div>
</div>
<script th:src="@{/js/courses/frontend/courseCenter.js}" defer></script>