<!-- Start Header Area -->
<header class="header">
	<div class="navbar-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg">
						<a class="navbar-brand logo" th:href="@{/homepage}"> <img class="logo1"
								th:src="@{/images/logo/logo.svg}" alt="Logo" />
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="toggler-icon"></span> <span class="toggler-icon"></span>
							<span class="toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
							<ul id="nav" class="navbar-nav ml-auto">
								<li class="nav-item"><a th:href="@{/homepage}">首頁</a></li>
								<!-- <li class="nav-item"><a href="#">頁面</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-us.html">關於我們</a></li>
                                        <li><a href="job-list.html">職位列表</a></li>
                                        <li><a href="job-details.html">職位詳情</a></li>
                                        <li><a href="resume.html">履歷頁</a></li>
                                        <li><a href="privacy-policy.html">隱私政策</a></li>
                                        <li><a href="faq.html">常見問題</a></li>
                                        <li><a href="pricing.html">我們的價格</a></li>
                                        <li><a href="404.html">404 錯誤</a></li>
                                        <li><a href="mail-success.html">郵件成功</a></li>
                                    </ul>
                                </li> -->
								<li class="nav-item"><a href="#">我要接案</a>
									<ul class="sub-menu">
										<li><a th:href="@{/public/front/jobs/list/0}">瀏覽職位</a></li>
										<li><a href="#">瀏覽分類</a></li>
									</ul>
								</li>
								<li class="nav-item" th:if="${session.CurrentUser != null and session.CurrentUser.userIdentity == 2}"><a href="#">我是雇主</a>
									<ul class="sub-menu">
										<li><a th:href="@{/front/jobs/new}">刊登職缺</a></li>
										<li><a href="#">管理職位</a></li>
										<li><a href="#">管理申請</a></li>
									</ul>
								</li>
								<li class="nav-item"><a href="#">找服務報價</a>
									<ul class="sub-menu">
										<li><a th:href="@{/c/service}">服務總覽</a></li>
										<li><a href="#">管理職位</a></li>
										<li><a href="#">管理申請</a></li>
										<li><a href="#">管理履歷</a></li>
										<li><a href="#">瀏覽履歷</a></li>
									</ul>
								</li>
								<li class="nav-item"><a href="#">找課程</a>
									<ul class="sub-menu">
										<li><a th:href="@{/course}">課程總覽</a></li>
										<li><a th:href="@{/course/create}">申請創建課程</a></li>
										<!-- li><a href="#">我要創立課程</a></li> -->
									</ul>
								</li>
								<li class="nav-item"><a href="#">找活動</a>
									<ul class="sub-menu">
										<li><a th:href="@{/f/events}">活動總覽</a></li>
										<li><a th:href="@{/f/events/new}">舉辦活動</a></li>
										<!-- <li><a href="#">部落格單篇側邊欄</a></li> -->
									</ul>
								</li>
								<li class="nav-item"><a href="http://localhost:8080/ProFit/empPf/allCompany">找公司</a>
								</li>
								<li class="nav-item"><a href="http://localhost:8080/ProFit/user/profile">帳戶中心</a></li>
								<li class="nav-item"><a href="#">財務管理</a>
									<ul class="sub-menu">
										<li><a th:href="@{/allOrder}">我的訂單</a></li>
										<li><a th:href="@{/transaction}">我的錢包</a></li>
										<li><a th:href="@{/wallet}">交易紀錄</a></li>
									</ul>
								</li>
								<!-- <li class="nav-item"><a href="contact.html">聯繫我們 </a> </li> -->
							</ul>
						</div>
						<!-- navbar collapse -->
						<div class="button" style="width: 280px;">
							<a th:href="@{/c/chat}" class="login" style="width: 150px;"><i
									class="lni lni-envelope"></i><span>訊息</span></a> <a href="javascript:"
								id="authButton" data-toggle="modal" data-target="#login" data-bs-toggle="modal"
								data-bs-target="#login" class="login" style="width: 150px;"> <i class="lni lni-lock-alt"></i><span
									id="authText">登入</span>
							</a> <a href="javascript:" data-toggle="modal" data-target="#signup" data-bs-toggle="modal"
								data-bs-target="#signup" id="signupButton" class="btn" style="width: 150px;">註冊</a>
							<img id="userPictureDisplay" class="d-flex align-items-center me-2"
								style="display: none; width: 40px; height: 40px;  border: none; border-radius: 50%;"></img>
							<p id="usernameDisplay" class="d-flex align-items-center"
								style="display: none; width: 100px;"></p>
						</div>

					</nav>
					<!-- navbar -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- navbar area -->
</header>
<!-- End Header Area -->
<script defer>
	document.addEventListener("DOMContentLoaded", function () {
		// 取得所有的 nav-item 的 a 標籤
		const navLinks = document.querySelectorAll("#nav .nav-item a");

		// 取得目前的網址
		const currentUrl = window.location.href;

		navLinks.forEach(function (link) {
			// 如果目前的網址包含 a 標籤的 href，就加上 active class
			if (currentUrl === link.href) {
				link.classList.add("active");

				// 如果該 a 標籤在子選單內，向上找到上一層的 ul，再到上一層的 li 裡面的 a 標籤並加上 active
				let parentLi = link.closest('ul').closest('li'); // 找到上一層的 li
				if (parentLi) {
					const parentLink = parentLi.querySelector('a');
					if (parentLink) {
						parentLink.classList.add('active');
					}
				}
			}
		});
	});

</script>