<!-- Login Modal -->
<div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog max-width-px-840 position-relative">
		<button type="button"
			class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
			data-dismiss="modal">
			<i class="lni lni-close"></i>
		</button>
		<div class="login-modal-main">
			<div class="row no-gutters">
				<div class="col-12">
					<div class="row">
						<div class="heading">
							<h3>登入</h3>
							<p>登入以繼續獲取服務</p>
						</div>
						<div class="social-login">
							<ul>
								<li><a class="google" href="http://localhost:8080/ProFit/oauth2/authorization/google"><i
											class="lni lni-google"></i>使用 Google帳戶繼續</a></li>
							</ul>
						</div>
						<div class="or-devider">
							<span>Or</span>
						</div>
						<form id="loginForm">
							<div class="form-group">
								<label for="email" class="label">E-mail</label> <input type="email" class="form-control"
									placeholder="example@gmail.com" id="email">
							</div>
							<div class="form-group">
								<label for="password" class="label">密碼</label>
								<div class="position-relative">
									<input type="password" class="form-control" id="password" placeholder="輸入密碼">
								</div>
								<div id="loginError" class="mt-2"></div>
							</div>
							<div class="form-group d-flex flex-wrap justify-content-between">
								<!-- Default checkbox -->
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
									<label class="form-check-label" for="flexCheckDefault">記住密碼</label>
								</div>
								<a href="" class="font-size-3 text-dodger line-height-reset">忘記密碼？</a>
							</div>
							<div class="form-group mb-8 button">
								<button class="btn" type="submit">登入</button>
							</div>
							<p class="text-center create-new-account">
								還沒有帳戶? <a href="#">建立一個免費帳戶</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Login Modal -->

<!-- Signup Modal -->
<div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog max-width-px-840 position-relative">
		<button type="button"
			class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
			data-dismiss="modal">
			<i class="lni lni-close"></i>
		</button>
		<div class="login-modal-main">
			<div class="row no-gutters">
				<div class="col-12">
					<div class="row">
						<div class="heading">
							<h3>立即創建一個免費帳戶</h3>
							<p>創建帳戶以獲取服務</p>
						</div>
						<div class="social-login">
							<ul>
								<li><a class="google" href="http://localhost:8080/ProFit/oauth2/authorization/google"><i
											class="lni lni-google"></i>使用Google帳戶繼續</a></li>
							</ul>
						</div>
						<div class="or-devider">
							<span>Or</span>
						</div>
						<form id="signUpForm">
							<div class="form-group">
								<label for="user_name" class="label">名稱</label> <input type="text" class="form-control"
									placeholder="輸入稱呼" id="user_name" name="userName" required>
							</div>
							<div class="form-group">
								<label for="email" class="label">E-mail</label> <input type="email" class="form-control"
									placeholder="example@gmail.com" id="email" name="userEmail" required
									pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
							</div>
							<div id="loginError" class="mt-2"></div>
							<div class="form-group">
								<label for="user_password" class="label">密碼</label>
								<div class="position-relative">
									<input type="password" class="form-control" placeholder="輸入密碼" id="user_password"
										name="userPasswordHash" required>
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="label">確認密碼</label>
								<div class="position-relative">
									<input type="password" class="form-control" placeholder="再次輸入密碼"
										id="ConfirmPassword" required oninput="setCustomValidity('');"
										onchange="if(document.getElementById('user_password').value != document.getElementById('ConfirmPassword').value){setCustomValidity('密碼不吻合');}">
								</div>
							</div>
							<div class="form-group">
								<label class="label" for="user_phonenumber">會員手機號碼:</label> <input class="form-control"
									type="text" placeholder="輸入手機號碼(格式:09XX-000000)" id="user_phonenumber"
									name="userPhoneNumber" required maxlength="11" pattern="09\d{2}-\d{6}">

							</div>
							<div class="form-group">
								<label class="label" for="user_city">會員居住城市:</label> <select name="userCity"
									class="form-select">
									<option>臺北市</option>
									<option>新北市</option>
									<option>基隆市</option>
									<option id="taoyuan">桃園市</option>
									<option>新竹縣</option>
									<option>新竹市</option>
									<option>宜蘭縣</option>
									<option>臺中市</option>
									<option>苗栗縣</option>
									<option>彰化縣</option>
									<option>南投縣</option>
									<option>雲林縣</option>
									<option>高雄市</option>
									<option>臺南市</option>
									<option>嘉義市</option>
									<option>嘉義縣</option>
									<option>屏東縣</option>
									<option>澎湖縣</option>
									<option>花蓮縣</option>
									<option>臺東縣</option>
								</select>
							</div>
							<div class="form-group d-flex flex-wrap justify-content-between">
								<!-- Default checkbox -->
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="">
									<label class="form-check-label" for="flexCheckDefault">我同意
										<a href="#">使用者政策暨隱私權條款</a>
									</label>
								</div>
							</div>
							<div class="form-group mb-8 button">
								<button class="btn" type="submit">註冊</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Signup Modal -->