<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>新增課程 - ProFit</title>
	<link rel="stylesheet" th:href="@{/css/model.css}">
	<link rel="stylesheet" th:href="@{/js/jquery-ui-1.14.0.custom/jquery-ui.css}">
	<style>
		label,
		input {
			display: block;
			margin-bottom: 12px;
		}

		input.text {
			width: 95%;
			padding: .4em;
		}
	</style>

</head>

<body>
	<div th:replace="~{model/layout-static}"></div>
	<!-- 主要內容區域 -->
	<div class="container pt-5">
				<div class="form-container">
					<form>
						<div class="form-group">
							<label for="courseId">課程ID:</label> <input type="text" id="courseId"
								name="courseId" required>
						</div>
						<div class="form-group">
							<label for="studentId">購買人ID:</label> <input type="text" id="studentId"
								name="studentId" required>
						</div>
						<div class="form-group">
							<label for="courseOrderRemark">訂單備註:</label>
							<textarea id="courseOrderRemark" name="courseOrderRemark" rows="2" cols="50"></textarea>
						</div>
						<div class="form-group">
							<label for="courseOrderCreateDate">訂單日期: (自動帶入)</label> <input type="datetime-local"
								id="courseOrderCreateDate" name="courseOrderCreateDate" readonly>
						</div>
						<div class="form-group">
							<label for="courseOrderStatus">訂單狀態:</label> <select id="courseOrderStatus" name="courseOrderStatus"
								required>
								<option value="Closed">等待付款中</option>
							</select>
						</div>
						<div style="text-align: right;">
							<a th:href="@{/courseOrders}"><button class="btn btn-danger" id='cancelBtn' type="button"
									style="margin-right:370px;">取消新增</button></a>
							<button class="btn btn-success" id="createBtn" name="createBtn" type="button">新增訂單</button>
						</div>
					</form>
					<!-- 測試資料生成按鈕 -->
					<div style="text-align: center; margin-bottom: 20px;">
					    <button type="button" id="generateTestData" class="btn btn-info">生成測試資料</button>
					</div>

				</div>
		</div>
	</div>
	<script>
		var contextPath = 'http://localhost:8080/ProFit';
	</script>
	<script th:src="@{/js/courses/createCourseOrderView.js}"></script>
</body>

</html>