<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>ProFit</title>
<link rel="stylesheet" th:href="@{/css/courses/coursesView.css}">
<link rel="stylesheet" th:href="@{/css/model.css}">
</head>
<body>
	<div th:replace="~{model/layout-static}"></div>
	<div class="container pt-5">
	<!-- 主要內容區域 -->
	<!-- 只是一個範例，裡面布局可以更改 -->
		<div class="course-header">
			<h2>章節管理功能</h2>
			<span><a th:href="@{/courses/addCourse}"><button
						id="createBtn">新增章節</button></a></span>
		</div>
		<div class="dashboard-header">
			
		<div class="table-container" id="search-results"></div>
		
		</div>
	<script>
        var contextPath = 'http://localhost:8080/ProFit';
    </script>
	<script th:src="@{/js/courses/courseView.js}"></script>
	<script th:src="@{/js/popup.js}"></script>
</body>
</html>