<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>ProFit</title>
<link rel="stylesheet" th:href="@{/css/courses/coursesView.css}">
<link rel="stylesheet" th:href="@{/css/model.css}">
</head>
<body>
	<div th:replace="~{model/layout-static}"></div>
	<div class="container pt-5">
	<!-- 主要內容區域 -->
	<!-- 只是一個範例，裡面布局可以更改 -->
		<div class="course-header">
			<h2>章節管理功能</h2>
			<span><a th:href="@{/courses/addCourse}"><button
						id="createBtn">新增章節</button></a></span>
		</div>
		<div class="dashboard-header">
			<h3 style="margin-top: 0px;">查詢章節</h3>
			<span style="margin-right: 30px;">課程分類: <select
				id="id-courseMajor" name="courseMajor"
				style="width: 100px; vertical-align: middle;">
					<option id="option-courseMajor-all" value="">全部</option>
					<option id="option-courseMajor-engineering" value="100">程式設計</option>
			</select>
			</span> <span style="margin-right: 30px;">課程名稱: <input type="text"
				id="id-courseName" name="courseName" style="width: 100px;" />
			</span> <span>課程狀態: <select id="id-courseStatus" name="courseStatus"
				style="width: 100px;">
					<option id="option-courseStatus-all" value="">全部</option>
					<option id="option-courseStatus-Active" value="Active">進行中</option>
					<option id="option-courseStatus-Pending" value="Pending">審核中</option>
					<option id="option-courseStatus-Closed" value="Closed">已關閉</option>
			</select>
			</span> <br> <br> <span style="margin-right: 30px;">課程創建者ID:
				<input type="text" id="id-courseCreateUserId"
				name="courseCreateUserId" value="" style="width: 100px;" />
			</span> <span style="margin-right: 30px;">課程創建者名稱: <input type="text"
				id="id-courseCreateUserName" name="courseCreateUserName" value=""
				style="width: 100px;" />
			</span>
			<button id="searchBtn">送出查詢</button>
		</div>
		
		<!-- 彈出視窗 -->
		<div id="popup" class="popup">
			<div class="popup-content">
				<span class="close-btn">&times;</span>
				<div class="course-header">
					<h2>課程細節</h2>
				</div>
				<div class="form-container"></div>
				
			</div>
		</div>
		
		<div class="table-container" id="search-results"></div>
		</div>
	<script>
        var contextPath = 'http://localhost:8080/ProFit';
    </script>
	<script th:src="@{/js/courses/courseView.js}"></script>
	<script th:src="@{/js/popup.js}"></script>
</body>
</html>