<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <title>ProFit</title>
  <link rel="stylesheet" th:href="@{/css/courses/coursesView.css}">
  <link rel="stylesheet" th:href="@{/css/model.css}">
</head>

<body>

  <div th:replace="~{model/layout-static}"></div>

  <div class="container pt-5">
    <div class="course-header">
      <h2>服務管理功能</h2>
      <span><a href="/ProFit/service/create"><button id="createBtn">新增服務</button></a></span>
    </div>

    <div class="dashboard-header">
      <h3 id="服務查詢" style="margin-top: 0px;">服務查詢</h3>
      <div class="mb-3">
        <input type="text" id="searchId" placeholder="服務ID">
        <input type="text" id="searchTitle" placeholder="服務標題">
        <button type="button" class="btn btn-secondary" id="searchBtn">送出查詢</button>
        <hr>
        <div class="mb-1">
          <span style="margin-right: 30px;">依
            <select name="form-select" id="sortCondition">
              <option selected value="serviceId">ID</option>
              <option value="serviceUpdateDate">更新日期</option>
            </select>
            排序
          </span>

          <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Default checked radio
            </label>
          </div> -->

        </div>
      </div>
    </div>

    <div id="search-results" class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>圖片</th>
            <th>標題</th>
            <th>報價</th>
            <th>發布者</th>
            <th>更新日期</th>
            <th>狀態</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="serviceTableBody">
          <div id="loadingIndicator" style="display: none;">
            Loading...
            <!-- <tr><td><img width="20px" height="20px" src="" alt=""></td></tr> -->
          </div>
          <!-- 服務列表將在這裡動態插入 -->
        </tbody>
      </table>
    </div>

    <div id="pagination">
      <!-- 分頁將在這裡動態插入 -->
    </div>

  </div>

  <!-- 檢視服務的模態框 -->
  <div class="modal fade" id="staticBackdrop-view" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="staticBackdropLabel">服務細節</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="serviceTitle" class="form-label">服務標題</label>
            <input type="text" class="form-control" id="serviceTitle" disabled>
          </div>
          <div class="mb-3">
            <label for="serviceMajorName" class="form-label">服務專業</label>
            <input type="text" class="form-control" id="serviceMajorName">
          </div>
          <div class="mb-3">
            <label for="serviceUserName" class="form-label">發布者</label>
            <input type="text" class="form-control" id="serviceProvider">
          </div>
          <div class="mb-3">
            <label for="servicePrice" class="form-label">服務報價:</label>
            <input type="text" class="form-control" id="servicePrice">
          </div>
          <div class="mb-3">
            <label for="serviceDuration" class="form-label">執行時間</label>
            <input type="text" class="form-control" id="serviceDuration">
          </div>
          <div class="mb-3">
            <label for="serviceContent" class="form-label">服務內容</label>
            <input type="text" class="form-control" id="serviceContent">
          </div>
          <div class="mb-3">
            <label for="serviceCreateDate" class="form-label">建立時間</label>
            <input type="text" class="form-control" id="serviceCreateDate">
          </div>
          <div class="mb-3">
            <label for="serviceUpdateDate" class="form-label">更新時間</label>
            <input type="text" class="form-control" id="serviceUpdateDate">
          </div>
          <div class="d-flex flex-row mb-3">
            <img width="200px" id="servicePicture1" src="" alt="圖片1">
            <br>
            <img width="200px" id="servicePicture2" src="" alt="圖片2">
            <br>
            <img width="200px" id="servicePicture3" src="" alt="圖片3">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
          <button type="button" class="btn btn-primary" id="editService">編輯</button>
        </div>
      </div>
    </div>
  </div>




  <!-- 新增服務的模態框 -->
  <!-- <div class="modal fade" id="staticBackdrop-insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="staticBackdropLabel">新增服務</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="mb-3">
            <label for="serviceTitle" class="form-label">服務標題</label>
            <input type="text" class="form-control" id="serviceTitle">
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="submitService">送出</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <script>
    /*<![CDATA[*/
    let currentPage = 1;
    const pageSize = 10;
    let sortCondition = "";

    $(document).ready(function () {
      loadServices(currentPage);

      $('#searchBtn').click(function () {
        loadServices(1);
      });

      document.getElementById('sortCondition').addEventListener('change', function (e) {
        console.log(sortCondition);
        sortCondition = document.getElementById('sortCondition').value;
      })
      // $('#createBtn').click(function () {
      //   $('#staticBackdrop-insert').modal('show');
      // });

      // $('#submitService').click(function () {
      //   // 處理新增服務的邏輯
      // });
    });

    function loadServices(page) {
      const searchId = $('#searchId').val();
      const searchTitle = $('#searchTitle').val();
      showLoading();
      $.ajax({
        url: `/ProFit/service/api/list?page=${page - 1}&size=${pageSize}&sortBy=${sortCondition}&ascending=true`,
        method: 'GET',
        data: {
          serviceId: searchId,
          serviceTitle: searchTitle
        },
        success: function (response) {
          hideLoading();
          updateTable(response.content);
          updatePagination(response);
        },
        error: function (error) {
          hideLoading();
          console.error('Error loading services:', error);
        }
      });
    }

    // 加載指示器，例如顯示一個旋轉圖標
    function showLoading() {
      const loadingHtml = '<div class="text-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>';
      document.getElementById('serviceTableBody').innerHTML = loadingHtml;
    }

    // 移除加載指示器
    function hideLoading() {
      document.getElementById('serviceTableBody').innerHTML = '';
    }


    function updateTable(services) {
      const tbody = $('#serviceTableBody');
      tbody.empty();
      services.forEach(service => {

        let serviceStatusStr;
        switch (service.serviceStatus) {
          case 0: {
            serviceStatusStr = '啟用';
            break;
          }
          case 1: {
            serviceStatusStr = '審核中';
            break;
          }
          case 2: {
            serviceStatusStr = '已關閉';
            break;
          }
          default:
            break;
        }

        tbody.append(`
                      <tr>
                          <td>${service.serviceId}</td>
                          <td><img width="80px" src="${service.servicePictureURL1}" alt=""></td>
                          <td>${service.serviceTitle}</td>
                          <td>$ ${service.servicePrice} / ${service.serviceUnitName}</td>
                          <td>${service.userMajor.user.userName}</td>
                          <td>${service.serviceUpdateDate}</td>
                          <td>${serviceStatusStr}</td>
                          <td>
                              <button  class="btn btn-primary btn-sm" onclick="editService(${service.serviceId})">編輯</button>
                              <button  class="btn btn-danger btn-sm" onclick="deleteService(${service.serviceId})">刪除</button>
                              <button  class="btn btn-success btn-sm" onclick="viewService(${service.serviceId})">檢視</button>
                          </td>
                      </tr>
                  `);
      });
    }

    // 更新頁碼
    function updatePagination(pageInfo) {
      const pagination = $('#pagination');
      pagination.empty();
      const totalPages = pageInfo.totalPages;
      const currentPage = pageInfo.pageNo + 1;

      let paginationHtml = '<ul class="pagination">';
      paginationHtml += `<li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                                     <a class="page-link" href="#" onclick="loadServices(${currentPage - 1})" aria-label="Previous">
                                         <span aria-hidden="true">&laquo;</span>
                                     </a>
                                 </li>`;

      for (let i = 1; i <= totalPages; i++) {
        paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                                         <a class="page-link" href="#" onclick="loadServices(${i})">${i}</a>
                                     </li>`;
      }

      paginationHtml += `<li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                                     <a class="page-link" href="#" onclick="loadServices(${currentPage + 1})" aria-label="Next">
                                         <span aria-hidden="true">&raquo;</span>
                                     </a>
                                 </li>`;
      paginationHtml += '</ul>';

      pagination.html(paginationHtml);
    }

    // 編輯服務
    function editService(serviceId) {
      // 跳轉到編輯頁面，並傳遞服務ID
      window.location.href = `/ProFit/service/edit/${serviceId}`;
    }


    // 檢視服務
    function viewService(serviceId) {
      fetch(`/ProFit/service/api/${serviceId}`)
        .then(response => response.json())
        .then(data => {
          // 填充模態框中的數據
          document.getElementById('serviceTitle').value = data.serviceTitle;
          document.getElementById('serviceMajorName').value = data.userMajor.major.majorName;
          document.getElementById('serviceProvider').value = data.userMajor.user.userName;
          document.getElementById('serviceContent').value = data.serviceContent;
          document.getElementById('servicePrice').value = `${data.servicePrice} ${data.serviceUnitName}`;
          document.getElementById('serviceDuration').value = `${data.serviceDuration} 天`;
          document.getElementById('serviceCreateDate').value = new Date(data.serviceCreateDate).toLocaleString();
          document.getElementById('serviceUpdateDate').value = new Date(data.serviceUpdateDate).toLocaleString();

          // 顯示服務圖片
          document.getElementById('servicePicture1').src = data.servicePictureURL1 || '';
          document.getElementById('servicePicture2').src = data.servicePictureURL2 || '';
          document.getElementById('servicePicture3').src = data.servicePictureURL3 || '';

          // //
          // document.getElementById('editService').click(function () {
          //   console.log(data.serviceId);
          //   editService(data.serviceId);
          // });

          // 顯示模態框
          new bootstrap.Modal(document.getElementById('staticBackdrop-view')).show();
        })
        .catch(error => console.error('Error:', error))
    }


    // 刪除服務
    function deleteService(serviceId) {
      if (confirm('確定要刪除這個服務嗎？')) {
        $.ajax({
          url: `/ProFit/service/api/${serviceId}`,
          method: 'DELETE',
          success: function () {
            alert('服務已成功刪除');
            loadServices(currentPage);
          },
          error: function (error) {
            console.error('Error deleting service:', error);
            alert('刪除服務時發生錯誤');
          }
        });
      }
    }
    /*]]>*/
  </script>



</body>

</html>