<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{jobsVIEW/frontEnd/layout}">
<head>
    <meta charset="UTF-8">
    <title>職缺列表</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">親愛的會員用戶，您已進入投遞程序...</h1>
                        <p>您已在媒合頁面，敬請耐心填寫相關資料。</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/homepage}">回到首頁</a></li>
                        <li>職缺應徵中</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <section class="job-post section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="job-information">
                        <h3 class="title">應徵職缺資訊</h3>
                        <form id="editForm" th:action="@{/front/jobs/view/{id}/new(id=${job.jobsId})}" method="POST" enctype="multipart/form-data">
<!--                            <input type="hidden" th:field="${user}">-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>職缺標題</label>
                                        <input class="form-control" type="text" th:name="${jobsApplication.jobs}" th:value="${job.jobsTitle}" readonly>
                                    </div>
                                </div>
                            </div>

                            <!--&lt;!&ndash;合約上傳-->

<!--                            <div class="col-lg-12">-->
<!--                                <div class="choose-img">-->
<!--                                    <p>合約上傳</p>-->
<!--                                    <input type="file" id="doc" name="doc" accept="application/doc">-->
<!--                                    <p>檔案上傳限制: 2 MB</p>-->
<!--                                </div>-->
<!--                            </div>-->

                            <!--&lt;!&ndash;履歷上傳-->
                            <div class="col-lg-12">
                                <div class="choose-img">
                                    <p>履歷上傳</p>
                                    <input type="file" id="pdf" name="pdf" accept="application/pdf">
                                    <p>檔案上傳限制: 2 MB</p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group checkboxs">
                                    <input type="checkbox" class="checkboxs" id="chb2">
                                    <p>
                                        請點擊勾選，表示您同意我們的 <a href="terms-conditions.html">會員守則條款</a> 以及 <a href="privacy-policy.html">隱私權政策。</a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="col-lg-12 button">
                                    <button class="btn" id="hire" type="submit">
                                        送出申請
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
    $(document).ready(function (){
        $('#hire').click(function (e){
            Swal.fire({//Swal.fire呼叫api的寫法
                icon: "success",
                title: "應徵成功",
                showConfirmButton: true,
            }).then(() => {
                $("#editForm").submit();
            });
        })
    });
</script>
</body>
</html>