<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{jobsVIEW/frontEnd/layout}">
<head>
    <meta charset="UTF-8">
    <title>職缺申請列表</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">職缺申請列表</h1>
                        <p>Business plan draws on a wide range of knowledge from different business<br> disciplines.
                            Business draws on a wide range of different business .</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/homepage}">Home</a></li>
                        <li>JobApplication List</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Find Job Area -->
    <section class="find-jobApplication jobApplication-list section">
        <div class="container">
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img1.png" alt="#">
                            </div>
                            <div class="jobApplication-content">
                                <h4><a href="jobApplication-details.html">Software Engineer</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> winbrans.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                </ul>
                            </div>
                            <div class="jobApplication-button">
                                <ul>
                                    <li><a href="jobApplication-details.html">Apply</a></li>
                                    <li><span>full time</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img2.png" alt="#">
                            </div>
                            <div class="jobApplication-content">
                                <h4><a href="jobApplication-details.html">Graphics Design</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> designhub.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> Washington, USA</li>
                                </ul>
                            </div>
                            <div class="jobApplication-button">
                                <ul>
                                    <li><a href="jobApplication-details.html">Apply</a></li>
                                    <li><span>Intern</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img3.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="job-details.html">Ui/Ux Design</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> uddesign.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> Cupertino, USA</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="job-details.html">Apply</a></li>
                                    <li><span>Part Time</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img4.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="job-details.html">Web Developer</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> webinner.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> Delaware, USA</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="job-details.html">Apply</a></li>
                                    <li><span>Intern</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img7.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="job-details.html">Digital Marketer</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> marketers.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> New York, USA</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="job-details.html">Apply</a></li>
                                    <li><span>Part Time</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img5.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="job-details.html">Sales Manager</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> winbrans.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> Delaware, USA</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="job-details.html">Apply</a></li>
                                    <li><span>full time</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img6.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="job-details.html">Product Designer</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> winbrans.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> New York, USA</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="job-details.html">Apply</a></li>
                                    <li><span>full time</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img8.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="job-details.html">Android Developer</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i><a href="#"> androidplex.com</a></li>
                                    <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                    <li><i class="lni lni-map-marker"></i> Cupertino, USA</li>
                                </ul>

                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="job-details.html">Apply</a></li>
                                    <li><span>Part Time</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                    </div>
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-12">
                        <div class="pagination center">
                            <ul class="pagination-list">
                                <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ End Pagination -->
            </div>
        </div>
    </section>
    <!-- /End Find Job Area -->
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
    // $(document).ready(function (){
    //
    // });
</script>
</body>
</html>