<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{jobsVIEW/frontEnd/layout}">
<head>
    <meta charset="UTF-8">
    <title>職缺列表</title>
</head>
<body>
<div layout:fragment="content">
    <section class="hero-area style2">
        <!-- Single Slider -->
        <div class="hero-inner">
            <div class="home-slider">
                <!-- First Slide -->
                <div class="single-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 co-12">
                                <div class="inner-content" style="padding-left: 30px;">
                                    <div class="hero-text">
                                        <h1 class="wow fadeInUp" data-wow-delay=".3s">提升你的職業技能</h1>
                                        <div class="cat-head">
                                            <div class="row categorySpace">
                                            </div>
                                        </div>
                                        <div class="button wow fadeInUp" data-wow-delay=".7s">
                                            <a href="#courseTop" class="btn">踏上旅程</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 co-12">
                                <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                                    <img th:src="@{/images/hero/banner2.png}" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Slide -->
                <div class="single-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="inner-content" style="padding-left: 30px;">
                                    <div class="hero-text">
                                        <h1 class="wow fadeInUp" data-wow-delay=".3s">惠鐘賢</h1>
                                        <h6>聯絡信箱: p8310112000@gmail.com</h6>
                                        <br>
                                        <h5 class="mb-3 text-primary">職缺管理系統功能展示 </h5>
                                        <div class="row">
                                            <div class="col-6">
                                                <ul>
                                                    <li class="d-flex align-items-center mb-3">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">DATA儀表板串接</h6>
                                                    </li>
                                                    <li class="d-flex align-items-center mb-3">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">上傳檔案</h6>
                                                    </li>
                                                    <li class="d-flex align-items-center mb-3">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">下載(匯出)檔案</h6>
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">預覽檔案</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul>
                                                    <li class="d-flex align-items-center mb-3">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">頁面動畫通知</h6>
                                                    </li>
                                                    <li class="d-flex align-items-center mb-3">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">模糊查詢</h6>
                                                    </li>
                                                    <li class="d-flex align-items-center mb-3">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">自動分頁</h6>
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="lni lni-play"></i>
                                                        <h6 class="ms-2">增刪改查</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                                    <img th:src="@{/images/hero/a.png}" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>

    <!-- Start Find Job Area -->
    <section class="find-job job-list section">

<!--        <div class="search-job">-->
<!--            <div class="container">-->
<!--                <div class="search-nner">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-5 col-md-5 col-xs-12">-->
<!--                            <input type="text" class="form-control" placeholder="關鍵字: Name, Tag">-->
<!--                        </div>-->
<!--                        <div class="col-lg-5 col-md-5 col-xs-12">-->
<!--                            <input type="text" class="form-control" placeholder="地點: City, State, Zip">-->
<!--                        </div>-->
<!--                        <div class="col-lg-2 col-md-2 col-xs-12 button">-->
<!--                            <button type="submit" class="btn btn-common float-right">搜尋</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="container">
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <!-- Single Job -->
                        <div class="single-job" th:each="job, iter : ${jobs}" th:if="${iter.index % 2 == 0}">
                            <div class="job-image">
                                <img th:src="@{/images/jobs/img7.png}" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a th:href="@{/public/front/jobs/view/{id}(id=${job.jobsId})}" th:text="${job.jobsTitle}">Software Engineer</a></h4>
                                <p th:text="${job.jobsDescription}">We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i> <th:block th:text="${job.jobsWorktime}"></th:block></li>
                                    <li><i class="lni lni-dollar"></i> <th:block th:text="${'金額' + job.jobsMinSalary + ' - ' + job.jobsMaxSalary}"></th:block></li>
                                    <li><i class="lni lni-map-marker"></i><th:block th:text="${job.jobsLocation}"></th:block></li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a th:href="@{/public/front/jobs/view/{id}(id=${job.jobsId})}">查看詳情</a></li>
                                    <li><a th:href="@{/front/jobs/view/{id}/new(id=${job.jobsId})}">應徵職缺</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single Job -->
                        <div class="single-job" th:each="job, iter : ${jobs}" th:if="${iter.index % 2 == 1}">
                            <div class="job-image">
                                <img th:src="@{/images/jobs/img7.png}" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a th:href="@{/public/front/jobs/view/{id}(id=${job.jobsId})}" th:text="${job.jobsTitle}">Software Engineer</a></h4>
                                <p th:text="${job.jobsDescription}">We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><i class="lni lni-website"></i> <th:block th:text="${job.jobsWorktime}"></th:block></li>
                                    <li><i class="lni lni-dollar"></i> <th:block th:text="${'金額' + job.jobsMinSalary + ' - ' + job.jobsMaxSalary}"></th:block></li>
                                    <li><i class="lni lni-map-marker"></i><th:block th:text="${job.jobsLocation}"></th:block></li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a th:href="@{/public/front/jobs/view/{id}(id=${job.jobsId})}">查看詳情</a></li>
                                    <li><a th:href="@{/front/jobs/view/{id}/new(id=${job.jobsId})}">應徵職缺</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                    </div>
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-12">
                        <div class="pagination center">
                            <ul class="pagination-list">
                                <!-- 上一頁 -->
                                <li th:class="${pageDTO.currentPage == 0} ? 'disabled' : ''">
                                    <a th:href="@{/public/front/jobs/list/{page}(page=${pageDTO.currentPage - 1})}" th:if="${pageDTO.currentPage > 0}"><i class="lni lni-arrow-left"></i></a>
                                    <span th:if="${pageDTO.currentPage == 0}"><i class="lni lni-arrow-left"></i></span>
                                </li>

                                <!-- 頁碼 -->
                                <li th:each="pageNum : ${#numbers.sequence(0, pageDTO.totalPage - 1)}"
                                    th:class="${pageNum == pageDTO.currentPage} ? 'active' : ''">
                                    <a th:href="@{/public/front/jobs/list/} + ${pageNum}" th:text="${pageNum + 1}"></a>
                                </li>

                                <!-- 下一頁 -->
                                <li th:class="${pageDTO.currentPage == pageDTO.totalPage - 1} ? 'disabled' : ''">
                                    <a th:href="@{/public/front/jobs/list/{page}(page=${pageDTO.currentPage + 1})}"
                                       th:if="${pageDTO.currentPage < pageDTO.totalPage - 1}"><i class="lni lni-arrow-right"></i></a>
                                    <span th:if="${pageDTO.currentPage == pageDTO.totalPage - 1}"><i class="lni lni-arrow-right"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ End Pagination -->
            </div>
        </div>
    </section>
    <!-- /End Find Job Area -->
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
    $(document).ready(function (){
        const baseUrl = /*[[@{/jobs}]]*/'';
        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });

        $('.categorySpace').empty();

        $.ajax({
            url: baseUrl + '/jobsCategoryAnalysis',
            dataType: 'JSON',
            type: 'GET',
            success: function (allCourseCategoryList) {

                // 寫入類別
                htmlMakerForCategory(allCourseCategoryList);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                // 處理錯誤
                console.error('查詢失敗:', textStatus, errorThrown);
                alert('查詢失敗，請重試。');
            }
        });

        function htmlMakerForCategory(allCourseCategoryList) {
            let i = 1;
            allCourseCategoryList.forEach(function (courseCategory) {
                $('.categorySpace').append(`
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center align-items-center flex-column pt-1 mb-2">
                <a href="#courseTop" class="single-cat wow fadeInUp border border-primary-subtle rounded border-3" data-wow-delay=".2s" style="width: 120px; height: 120px;">
                    <div class="top-side text-center mt-2">
                        <img class="rounded" style="max-width:50px"
                        src="http://localhost:8080/ProFit/images/major/category-${i}.png" alt="#">
                        <h5 class="categoryId text-center mt-1" data-categoryid="${courseCategory.majorCategoryId}">${courseCategory.categoryName}</h5>
                    </div>
                    <div class="bottom-side text-center mt-1">
                        <span>職缺數:</span> <span class="available-job">${courseCategory.totalCount}</span>
                    </div>
                </a>
            </div>`);
                i++;
            })

        }
    });
</script>
</body>
</html>