<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{jobsVIEW/frontEnd/layout}">
<head>
    <meta charset="UTF-8">
    <title>職缺列表</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">親愛的會員用戶，您已進入刊登程序...</h1>
                        <p>將您的需求匯集</p>
                        <p>吸收各方商業人才</p>
                        <p>輔助你往更高一層邁進</p>

                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/homepage}">回到首頁</a></li>
                        <li>職缺刊登中</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <section class="job-post section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="job-information">
                        <h3 class="title">刊登職缺資訊</h3>
                        <form id="editForm" th:action="${job.jobsId} ? @{/front/jobs/{id}(id=${job.jobsId})} : @{/front/jobs/new}" method="POST">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>職缺標題</label>
                                        <input class="form-control" type="text" th:field="${job.jobsTitle}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>技能類別</label>
                                        <select class="select select2 major_category" th:field="${job.category.majorCategoryId}" required>
                                            <option th:each="category : ${categories}" th:value="${category.majorCategoryId}" th:text="${category.categoryName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>申請截止日期</label>
                                        <div class="input-group date" id="datetimepicker">
                                            <input type="date" style="padding-top: 12px; padding-bottom: 12px;" class="form-control" placeholder="XXXX/XX/XX" name="deadline" th:value="${job.jobsApplicationDeadline}">
                                            <span class="input-group-addon"></span>
                                            <i class="bx bx-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">工作地點</label>
                                        <input type="text" class="form-control" th:field="${job.jobsLocation}" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">最高薪資</label>
                                        <input type="text" class="form-control" th:field="${job.jobsMaxSalary}" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">最低薪資</label>
                                        <input type="text" class="form-control" th:field="${job.jobsMinSalary}" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">工作時間</label>
                                        <input type="text" class="form-control" th:field="${job.jobsWorktime}" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">開放職位數</label>
                                        <input type="number" class="form-control" th:field="${job.jobsNumberOfOpenings}" required/>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>職缺描述</label>
                                        <textarea class="form-control" rows="5" required th:field="${job.jobsDescription}"></textarea>
                                    </div>
                                </div>
                            </div>
<!--                            <h3 class="title">Company Information</h3>-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12">-->
<!--                                    <div class="choose-img">-->
<!--                                        <p>Logo (Optional)</p>-->
<!--                                        <label for="img">Select image:</label>-->
<!--                                        <input type="file" id="img" name="img" accept="image/*">-->
<!--                                        <p>Maximum file size: 2 MB</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div>
                                <div class="col-lg-12 button">
                                    <button class="btn" type="submit">
                                        刊登職缺
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
    // $(document).ready(function (){
    //
    // });
</script>
</body>
</html>