<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{jobsVIEW/frontEnd/profileLayout}">
<head>
  <meta charset="UTF-8">
  <title>職缺列表</title>
</head>
<body>
<div layout:fragment="content">

    <div class="job-items">
      <div class="manage-content" th:each="jobsApplication : ${applications}">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-5 col-md-5">
            <div class="title-img">
              <div class="can-img">
                <img th:src="@{/images/jobs/img4.png}" alt="#">
              </div>
              <h3 th:text="${jobsApplication.jobs.jobsTitle}">Mechanical Engineer <span th:text="jobsApplication.jobs.users.employer_profile.companyName">Conzio construction</span></h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-2">
            <p><span class="time" th:text="${jobsApplication.jobs.jobsWorktime}">Full-Time</span></p>
          </div>
          <div class="col-lg-3 col-md-3">
            <p th:text="${jobsApplication.jobsApplicationDate}">Nov 14th, 2023</p>
          </div>
          <div class="col-lg-2 col-md-2">
            <!-- 已投遞受理 - 藍色 -->
            <button class="btn btn-primary btn-sm text-white" disabled
                    th:if="${jobsApplication.jobsApplicationStatus == 0}">已投遞受理</button>

            <!-- 已錄取 - 綠色，下載合約 - 灰色 -->
            <th:block th:if="${jobsApplication.jobsApplicationStatus == 1}">
              <button class="btn btn-success btn-sm text-white" id="hire" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">已錄取</button>
              <a class="btn btn-info btn-sm text-white" id="download" data-bs-toggle="modal"
                 data-bs-target="#exampleModal"
                 th:href="@{|/front/profile/download/${jobsApplication.jobsApplicationId}|}">下載正式合約</a>
            </th:block>

            <!-- 未錄取 - 黃色 -->
            <button class="btn btn-warning btn-sm text-white" disabled
                    th:if="${jobsApplication.jobsApplicationStatus == 2}">未錄取</button>

            <!-- 已取消 - 紅色 -->
            <button class="btn btn-danger btn-sm text-white" disabled
                    th:if="${jobsApplication.jobsApplicationStatus == 3}">已取消</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="pagination left pagination-md-center">
      <ul class="pagination-list">
        <!-- 上一頁 -->
        <li th:class="${pageDTO.currentPage == 0} ? 'disabled' : ''">
          <a th:href="@{/front/profile/applications/{page}(page=${pageDTO.currentPage - 1})}" th:if="${pageDTO.currentPage > 0}"><i class="lni lni-arrow-left"></i></a>
          <span th:if="${pageDTO.currentPage == 0}"><i class="lni lni-arrow-left"></i></span>
        </li>

        <!-- 頁碼 -->
        <li th:each="pageNum : ${#numbers.sequence(0, pageDTO.totalPage - 1)}"
            th:class="${pageNum == pageDTO.currentPage} ? 'active' : ''">
          <a th:href="@{/front/profile/applications/} + ${pageNum}" th:text="${pageNum + 1}"></a>
        </li>

        <!-- 下一頁 -->
        <li th:class="${pageDTO.currentPage == pageDTO.totalPage - 1} ? 'disabled' : ''">
          <a th:href="@{/front/profile/applications/{page}(page=${pageDTO.currentPage + 1})}"
             th:if="${pageDTO.currentPage < pageDTO.totalPage - 1}"><i class="lni lni-arrow-right"></i></a>
          <span th:if="${pageDTO.currentPage == pageDTO.totalPage - 1}"><i class="lni lni-arrow-right"></i></span>
        </li>
      </ul>
    </div>
    <!-- End Pagination -->
</div>
<script th:inline="javascript" layout:fragment="script" type="text/javascript">
  // $(document).ready(function (){
  //
  // });
</script>
</body>
</html>