<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- Start Footer Area -->
<body>
<th:block th:fragment="accountCenterSidebar">

        <div class="dashbord-sidebar">
            <ul>
                <li class="heading">帳戶中心</li>
                <li><a href="#" id="memberProfile"><i class="lni lni-clipboard"></i>個人資料</a>
                </li>
                <li><a href="#" id="companyProfile"><i class="lni lni-bookmark"></i>店家/公司資料</a></li>

                <li><a href="#" id="questionForm"><i class="lni lni-envelope"></i>問題申訴與回報</a></li>

                <li><a href="#" id="courseCenter"><i class="lni lni-book"></i>課程中心</a></li>

                <li><a href="#" id="serviceCenter"><i class="lni lni-book"></i>我的服務</a></li>

                <li><a href="#" id="serviceApplicationCenter"><i class="lni lni-book"></i>委託管理</a></li>
                <th:block th:if="${user != null and user.userIdentity == 2}">
                    <li class="heading">職缺管理</li>
                    <li><a th:href="@{/front/profile/applicationsReturn/0}"><i class="lni lni-bookmark"></i>管理職缺申請</a></li>
                    <li><a th:href="@{/}"><i class="lni lni-envelope"></i>管理發布職缺</a></li>
                </th:block>
                <th:block th:if="${user != null and (user.userIdentity == 1 or user.userIdentity == 2)}">
                    <li class="heading">管理應徵</li>
                    <li><a th:href="@{/}"><i class="lni lni-bookmark"></i>我的應徵紀錄</a></li>
                </th:block>
            </ul>
        </div>
</th:block>
</body>
</html>